include bemto/bemto

//- 	bem code style:
//-		+b.block1
//-			+e('a').element1._modifier1(href=#) Foo

// start header

+b('header').header
	+b('h1').header-title
		+e.text День в фото


// end header